<div class="wrapper">
  <h3 (click)="toggleShowDiv('divA')">{{ title }}
    <svg [ngClass]="{'rotate': animationState === 'in', 'rotate-inv': animationState === 'out'}" height="30" width="30"
         viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M10 7L15 12L10 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
      </g>
    </svg>
  </h3>
  <div [@slideInOut]="animationState" class="divA">
    <div *ngIf="description !== 'country'">
      {{ description }}
    </div>
    <div *ngIf="description === 'country'">
      <p>
        Dans le mode "Pays du jour", vous devez deviner le pays mystère. Pour cela, vous commencez sans informations. Vous devez
        entrer le nom d’un premier pays que vous souhaitez soumettre.
        Il est très peu probable que vous trouviez du premier coup. Vous aurez alors des informations concernant le pays
        que
        vous venez d’entrer:
      </p>
      <ul>
        <li>Le Continent</li>
        <li>La superficie</li>
        <li>La population</li>
        <li>L’indicatif téléphonique</li>
        <li>La ou les langues parlées</li>
        <li>Le nombre de frontières communes <span>Par exemple: Si le pays du jour est le Luxembourg, en entrant France, le résultat sera de deux car la France et le Luxembourg ont une frontière commune avec l’Allemagne et la Belgique.</span></li>
      </ul>
      <p>Ces informations sont accompagnées d’un code couleur et éventuellement aussi de flèches:</p>
      <ul class="colors">
        <li>
          <div class="color legend-green"></div>
          Vert: Les deux pays partagent la même caractéristique
        </li>
        <li>
          <div class="color legend-orange"></div>
          Orange: Vous êtes relativement proche des caractéristiques. Pour les nombres: [-30% < pays du jour < +30%],
          pour
          les langues, au moins une langue en commun
        </li>
        <li>
          <div class="color legend-red"></div>
          Rouge: vous êtes loin de la solution
        </li>
        <li>
          <div class="color legend-red">
            <svg class="arrow" height="20px" fill="#000000" version="1.1" id="Layer_1"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                 enable-background="new 0 0 100 100" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> <g> <path
                d="M78.016,49.132L51.961,12.714c-0.471-0.66-1.233-1.049-2.043-1.051c-0.006,0-0.006,0-0.006,0 c-0.815,0.002-1.575,0.396-2.048,1.059L21.977,49.14c-0.546,0.767-0.616,1.776-0.183,2.612c0.426,0.835,1.292,1.361,2.236,1.361 h12.183l-0.001,32.709c0,1.39,1.125,2.515,2.516,2.515l22.541-0.001c1.389,0.001,2.515-1.124,2.516-2.517l0-32.705h12.187 c0.94,0,1.803-0.53,2.237-1.367C78.641,50.911,78.566,49.9,78.016,49.132z"></path> </g> </g></svg>
            <svg class="arrow down" height="20px" fill="#000000" style="opacity: 0.2" version="1.1" id="Layer_1"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                 enable-background="new 0 0 100 100" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> <g> <path
                d="M78.016,49.132L51.961,12.714c-0.471-0.66-1.233-1.049-2.043-1.051c-0.006,0-0.006,0-0.006,0 c-0.815,0.002-1.575,0.396-2.048,1.059L21.977,49.14c-0.546,0.767-0.616,1.776-0.183,2.612c0.426,0.835,1.292,1.361,2.236,1.361 h12.183l-0.001,32.709c0,1.39,1.125,2.515,2.516,2.515l22.541-0.001c1.389,0.001,2.515-1.124,2.516-2.517l0-32.705h12.187 c0.94,0,1.803-0.53,2.237-1.367C78.641,50.911,78.566,49.9,78.016,49.132z"></path> </g> </g></svg>
          </div>
          Flèche vers le haut: vous êtes trop bas
        </li>
        <li>
          <div class="color legend-red">
            <svg class="arrow" height="20px" style="opacity: 0.2" fill="#000000" version="1.1" id="Layer_1"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                 enable-background="new 0 0 100 100" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> <g> <path
                d="M78.016,49.132L51.961,12.714c-0.471-0.66-1.233-1.049-2.043-1.051c-0.006,0-0.006,0-0.006,0 c-0.815,0.002-1.575,0.396-2.048,1.059L21.977,49.14c-0.546,0.767-0.616,1.776-0.183,2.612c0.426,0.835,1.292,1.361,2.236,1.361 h12.183l-0.001,32.709c0,1.39,1.125,2.515,2.516,2.515l22.541-0.001c1.389,0.001,2.515-1.124,2.516-2.517l0-32.705h12.187 c0.94,0,1.803-0.53,2.237-1.367C78.641,50.911,78.566,49.9,78.016,49.132z"></path> </g> </g></svg>
            <svg class="arrow down" height="20px" fill="#000000" version="1.1" id="Layer_1"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                 enable-background="new 0 0 100 100" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier"> <g> <path
                d="M78.016,49.132L51.961,12.714c-0.471-0.66-1.233-1.049-2.043-1.051c-0.006,0-0.006,0-0.006,0 c-0.815,0.002-1.575,0.396-2.048,1.059L21.977,49.14c-0.546,0.767-0.616,1.776-0.183,2.612c0.426,0.835,1.292,1.361,2.236,1.361 h12.183l-0.001,32.709c0,1.39,1.125,2.515,2.516,2.515l22.541-0.001c1.389,0.001,2.515-1.124,2.516-2.517l0-32.705h12.187 c0.94,0,1.803-0.53,2.237-1.367C78.641,50.911,78.566,49.9,78.016,49.132z"></path> </g> </g></svg>
          </div>
          Flèche vers le bas: vous êtes trop haut
        </li>
      </ul>
      <p>Lorsque vous trouvez le pays, il vous faudra attendre le lendemain pour pouvoir jouer à nouveau.</p>
    </div>
  </div>
</div>
