<div class="container">
  <h1>{{ "TUTORIAL.WELCOME" | translate }}</h1>
  <h2>{{ "TUTORIAL.HDIW" | translate }}</h2>
  <p>{{ "TUTORIAL.DESCRIPTION" | translate }}</p>
  <app-animated-element [title]="'TUTORIAL.COTD' | translate"
                        [description]="'country'"></app-animated-element>
  <app-animated-element [title]="'TUTORIAL.FOTD' | translate"
                        [description]="'TUTORIAL.F_DESC' | translate"></app-animated-element>
  <app-animated-element [title]="'TUTORIAL.STATS' | translate"
                        [description]="'TUTORIAL.S_DESC' | translate"></app-animated-element>
</div>
