.container {
  width: 400px;
  height: 120px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.day {
  width: 5px;
  height: 5px;
  margin-left: 2px;
  margin-top: 2px
}

.history {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  width: 360px;
}

svg {
  position: absolute;
  margin-right: 320px;
}

span {
  position: absolute;
  font-size: 20px;
  margin-right: 320px;
  margin-top: 10px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .container {
    width: 350px;
    height: 150px;
    font-size: 14px;
  }

  span {
    margin-right: 280px;
  }

  svg {
    margin-right: 280px;
  }


}
