.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

button {
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.propositions {
  max-height: 60vh;
  overflow-y: auto;
  padding-bottom: 0;
  scrollbar-width: none;
}

.indice {
  width: 90px;
  background-color: #66666688;
  height: 40px;
  text-align: center;
  color: lightgray;
  font-weight: bold;
  font-size: 13px;
  border-bottom: lightgray;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  border-radius: 5px;
}

.indications {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
}

.clues {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin-bottom: 5px;
}

.clue {
  width: 120px;
  border-radius: 5px;
  box-shadow: 7px 7px 0px 0px #0B2447;
}

.clue:active:not(:disabled) {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

img {
  max-height: 35px;
}

.input-container {
  width: 380px;
  position: relative;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.submit {
  width: 70px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 7px 7px 0px 0px #0B2447;
}

.submit:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.input {
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-bottom: 5px;
  background-color: lightgrey;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.legend-items {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 350px;
  align-items: center;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.legend-red {
  background-color: red;
}

.legend-green {
  background-color: green;
}

.legend-orange {
  background-color: orange;
}

.legend-text {
  font-size: 13px;
  width: 80px;
  text-align: center;
}

.arrow {
}

.down {
  rotate: 180deg;
}

@media screen and (max-width: 700px) {
  .indice {
    width: 45px;
    font-size: 10px;
  }

  .indications {
    width: 350px;
  }

  .propositions {
    max-height: 40vh;
  }
}
