<div class="container">
  <div class="input-container">
    <app-input (countrySelected)="selectedCountry = $event"></app-input>
    <button class="submit" (click)="selectCountry(selectedCountry)">{{ "SUBMIT" | translate }}</button>
  </div>
  <div class="clues">
    <button [disabled]="deactivateFirst" class="firstClue clue" (click)="getCurrency()">
      {{ this.currency | translate}} <span *ngIf="this.count < 5"> - {{ 5 - this.count}} </span>
    </button>
    <button [disabled]="deactivateSecond" class="secondClue clue" (click)="getCapital()">
      {{ this.capital | translate}} <span *ngIf="this.count < 10"> - {{ 10 - this.count}} </span>
    </button>
    <button [disabled]="deactivateThird" class="thirdClue clue" (click)="getFlag()">
      <img ngSrc="{{flagHtml}}"/>
      {{ this.flag | translate}} <span *ngIf="this.count < 15"> - {{ 15 - this.count}} </span>
    </button>
  </div>
  <div class="indications" *ngIf="countriesTried.length > 0">
    <span class="indice">{{ "INDICATION.CONTINENT" | translate }}</span>
    <span class="indice">{{ "INDICATION.AREA" | translate }}</span>
    <span class="indice">{{ "INDICATION.POPULATION" | translate }}</span>
    <span class="indice">{{ "INDICATION.PHONE_CODE" | translate }}</span>
    <span class="indice">{{ "INDICATION.LANGUAGES" | translate }}</span>
    <span class="indice">{{ "INDICATION.COMMON_BORDERS" | translate }}</span>
  </div>
  <div class="propositions">
    <app-compare-country *ngFor="let country of countriesTried" [countryGuessed]="country"></app-compare-country>
  </div>
</div>
